<% title "Your search for #{params[:q]}" %>

<section id="bookmarks">
<% if !@bookmarks.empty? %>
<% @bookmarks.each do |bookmark| %>
<%= render :partial => 'bookmarks/single', :locals => { :bookmark => bookmark } %>
<% end %>
<%= will_paginate @bookmarks %>
<% else %>
<p>No bookmarks were found for your search.</p>
<% end %>
</section>

<section id="associated">
  <%= render :partial => 'bookmarks/search_form' %>

  <section id="tags">
    <%= render :partial => 'tags/cloud', :locals => { :tags => @tags } %>
  </section>
</section>