<% title "Sign-in" %>

<p>You must be signed in in order to use this site. You can do this by authenticating via Google. Simply <a href="/auth/google">visit google</a> and grant permission if asked. Once you have granted permission you will be sent back to here and will be logged in.</p>
