@media screen and (max-device-width: 320px) {
  body { margin: 0 5px; max-width: 320px; }
}

@media screen and (max-device-width: 480px) {
  body { margin: 0 5px; max-width: 480px; }

  /* Header content */
  header { background: #FFFACD; margin: 0 -5px; padding: 5px 5px; }
  h1 { margin: 0; padding: 0; }
  #user_nav { padding: 0 }
  #user_nav p { position: relative; top: 0; right: 0; }
  #user_nav ul { list-style: none }
  #user_nav ul li { display: inline; margin: 0 }
  #user_nav ul li a:after { content: " / " }
  #user_nav ul li:last-child a:after { content: "" }

  /* General page header */
  h2 { margin: .375em 0; }

  /* Section */
  #bookmarks, #associated {
    float: none;
    width: auto;
  }

  /* Bookmark listing and display */
  .bookmark { padding: .5em 0; border-bottom: 1px dotted #ccc }

  .bookmark h3 { margin: 0 }
  .bookmark h4 { font-size: 0.9em; line-height: 1.56em; color: #ccc}

  .bookmark ul { list-style: none; font-size: .9em; line-height: 1.56em; }
  .bookmark ul li { display: inline; margin-right: .5em }

  .bookmark .meta p { color: #aaa; display: inline }
  .bookmark .meta ul { margin-left: 1em; display: inline; visibility: hidden; font-size: .9em; }
  .bookmark .meta ul { visibility: visible }

  /* Footer */
  #footer { text-align: right; font-size: 0.5em; clear: both; background: #FFFACD; margin: 0 -5px 0 -5px; padding: 0 5px 0 5px }
}